form ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
form ol li label {
  display: inline-block;
  width: 230px;
  text-align: right;
}
form ol li input[type=text] {
  width: 300px;
}
form ol li input[type=submit] {
  margin-left: 234px;
}
#sukcesmesagxo {
  padding: 20px;
  margin: 20px;
  border: solid #080 1px;
  background-color: #EFE;
  color: #080;
}
